{% extends 'travelsale/base.html' %}

{% block title %}
    Travel Product - {{ travelproduct }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ travelproduct }}</h2>
                <ul class="inline">
                    {% if perms.travelsale.change_travelproduct %}
                    <li>
                        <a href="{{ travelproduct.get_update_url }}"
                            class="button button-primary">
                            Edit Travel Product</a></li>
                    {% endif %}
                {% if perms.travelsale.delete_travelproduct %}
                    <li>
                        <a href="{{ travelproduct.get_delete_url }}"
                           class="button button-primary">
                            Delete Travel Product</a></li>
                {% endif %}
                </ul>
    <section>
        <table>
            <tr>
                <th>Travel Product:</th>
                <td>{{ travelproduct.travelproduct_name }}</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{ travelproduct.type }}</td>
            </tr>
            <tr>
                <th>Destination:</th>
                <td>{{ travelproduct.destination }}</td>
            </tr>
            <tr>
                <th>Discount:</th>
                <td>{{ travelproduct.discount }}</td>
            </tr>
            <tr>
                <th>Price After Discount:</th>
                <td>{{ travelproduct.price }}</td>
            </tr>
            <tr>
                <th>Duration (days):</th>
                <td>{{ travelproduct.duration }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ travelproduct.description }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Orders</h3>
        <ul>
            {% for order in order_list %}
                <li>
                    <a href="{{ order.get_absolute_url }}">{{ order }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no orders for this travel product.</em></li>
            {% endfor %}
        </ul>
    </section>
  </div></div> <!-- row -->

</article>
{% endblock %}
