{% extends 'travelsale/base.html' %}

{% block title %}
    Error Deleting Travel Product
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Travel Product</h2>
        <p>
            You may not delete travel product {{ travelproduct }}.  This course is currently in the following orders:
        </p>

        <ul>
            {% for order in orders %}
            <li><a href="{{ order.get_absolute_url }}">{{ order }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'travelsale_travelproduct_list_urlpattern' %}">Travel Product List</a>.
        </p>
    </div>
{% endblock %}
