{% extends 'travelsale/base.html' %}

{% block title %}
    Error Deleting Type
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Type</h2>
        <p>
            You may not delete type {{ type }}.  This type is currently including the following
            travel products:
        </p>

        <ul>
            {% for travelproduct in travelproducts %}
            <li><a href="{{ travelproduct.get_absolute_url }}">{{ travelproduct }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'travelsale_type_list_urlpattern' %}">Type List</a>.
        </p>
    </div>
{% endblock %}
